@font-face {
    font-family: 'KMITLGO_Bold_ver_1.00';
    src: url('../font/KMITLGO_Bold_ver_1.00.ttf')format("truetype");
}
body{
    padding: 0;
    margin: 0;
    background: #FFE3E3;
    box-sizing: border-box;
    
}
.navbar{
    position: fixed;
    width: 2000px; /*random idk*/
    background-color: #FD6F1F;
    height: 49px;
    box-shadow: 1px 1px 10px ;
    transform: translateY(-85%);
    transition: transform .5s cubic-bezier(.4,0,.2,1);
}
.navbar:hover{
    transform: translateY(0);
}
.container-fluid{
    padding-left: 45px;
}
.navbar-brand{
    list-style: none;
    color: #FFF172;
    font-weight: 800;
    font-size: 35px;
    font-family:'KMITLGO_Bold_ver_1.00';
    text-shadow:2px 2px  #00000036;

}
#spform-control{
    margin-left: 210px;
    height: 22px;
    background-color: #FFF172;
    padding-bottom: 0;
    padding-left: 2px;
    border-radius: 5px;
    font-family:'KMITLGO_Bold_ver_1.00';
    font-size: large;
    font-weight: 200;
    width: 189px;
    
    /* padding: 2px; */
}
.collapse{
    padding-left: 2px ;
}
.nav-link{
    color: #FFE3E3;
    font-weight: bold ;
    font-size: 1.5em;
    font-family:'KMITLGO_Bold_ver_1.00';
    text-shadow:2px 2px  #00000036;
    transition: all 0.25s ease;
    margin-left: 13px;
}
.nav-link:hover{
    color:  #FFF172;
}
#login-link{
    margin-left: 302px;
}

.form-control{
    width: 350px;
    padding: 0;
    padding-left: 7px;
    font-size: 25px;
    
}
input.form-control::placeholder{
    opacity: 0.3;
}
.container{
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-left: 280px;
    padding-right: 0;
    /* text-align: center; */
    width: 900px;
    height: 700px;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    font-family: 'KMITLGO_Bold_ver_1.00';
    font-size: 20px;
}
.spacebtnregis{
    margin-left: 77px;
   
}
#buttonregis{
    width: 200px;
    font-size: larger;
    border-radius: 10px;
    transition: all 0.25s ease;
}
#buttonregis:hover{
    transform: translate(0px,-5px);
}
.col-sm-2{
    color: green;
    font-size: large;
    width: 150px;
    font-size: 21px;
    
}
.message{
    color: red;
    visibility: hidden;
    margin: 0;
}
.message.erorr{
    visibility: visible;
}